 .press_002 ,
 .press_003 ,
 .press_005 ,
 .press_006 ,
 .press_008 ,
 .press_009 ,
 .press_011 ,
 .press_013 ,
 .press_014 ,
 .press_015 ,
 .press_016 ,
 .press_018 ,
 .press_020 ,
 .press_021 ,
 .press_022 ,
 .press_023 ,
 .press_024 ,
 .press_025 ,
 .press_028 ,
 .press_029 ,
 .press_030 ,
 .press_031 ,
 .press_032 ,
 .press_038 ,
 .press_040 ,
 .press_042 ,
 .press_044 ,
 .press_045 ,
 .press_047 ,
 .press_050 ,
 .press_052 ,
 .press_055 ,
 .press_056 ,
 .press_057 ,
 .press_073 ,
 .press_075 ,
 .press_076 ,
 .press_079 ,
 .press_081 ,
 .press_082 ,
 .press_083 ,
 .press_087 ,
 .press_088 ,
 .press_089 ,
 .press_092 ,
 .press_108 ,
 .press_109 ,
 .press_117 ,
 .press_120 ,
 .press_122 ,
 .press_123 ,
 .press_135 ,
 .press_138 ,
 .press_139 ,
 .press_140 ,
 .press_143 ,
 .press_144 ,
 .press_213 ,
 .press_214 ,
 .press_215 ,
 .press_241 ,
 .press_243 ,
 .press_277 ,
 .press_293 ,
 .press_296  {
	background-image: url("https://s.pstatic.net/static/www/img/2017/sp_newslogo_1x_v170314.png");
	background-size: 385px 343px;
	background-repeat: no-repeat;
}
@media (min-height: 1px) {
	 .press_002 ,
	 .press_003 ,
	 .press_005 ,
	 .press_006 ,
	 .press_008 ,
	 .press_009 ,
	 .press_011 ,
	 .press_013 ,
	 .press_014 ,
	 .press_015 ,
	 .press_016 ,
	 .press_018 ,
	 .press_020 ,
	 .press_021 ,
	 .press_022 ,
	 .press_023 ,
	 .press_024 ,
	 .press_025 ,
	 .press_028 ,
	 .press_029 ,
	 .press_030 ,
	 .press_031 ,
	 .press_032 ,
	 .press_038 ,
	 .press_040 ,
	 .press_042 ,
	 .press_044 ,
	 .press_045 ,
	 .press_047 ,
	 .press_050 ,
	 .press_052 ,
	 .press_055 ,
	 .press_056 ,
	 .press_057 ,
	 .press_073 ,
	 .press_075 ,
	 .press_076 ,
	 .press_079 ,
	 .press_081 ,
	 .press_082 ,
	 .press_083 ,
	 .press_087 ,
	 .press_088 ,
	 .press_089 ,
	 .press_092 ,
	 .press_108 ,
	 .press_109 ,
	 .press_117 ,
	 .press_120 ,
	 .press_122 ,
	 .press_123 ,
	 .press_135 ,
	 .press_138 ,
	 .press_139 ,
	 .press_140 ,
	 .press_143 ,
	 .press_144 ,
	 .press_213 ,
	 .press_214 ,
	 .press_215 ,
	 .press_241 ,
	 .press_243 ,
	 .press_277 ,
	 .press_293 ,
	 .press_296  {
		background-image: url("https://s.pstatic.net/static/www/img/2017/sp_newslogo_v170314.png");
	}
}

 .press_308 ,
 .press_310 ,
 .press_311 ,
 .press_312 ,
 .press_314 ,
 .press_326 ,
 .press_327 ,
 .press_328 ,
 .press_329 ,
 .press_330 ,
 .press_331 ,
 .press_332 ,
 .press_333 ,
 .press_334 ,
 .press_335 ,
 .press_336 ,
 .press_337 ,
 .press_338 ,
 .press_339 ,
 .press_340 ,
 .press_344 ,
 .press_345 ,
 .press_346 ,
 .press_354 ,
 .press_355 ,
 .press_356 ,
 .press_361 ,
 .press_362 ,
 .press_363 ,
 .press_364 ,
 .press_366 ,
 .press_368 ,
 .press_374 ,
 .press_376 ,
 .press_384 ,
 .press_385 ,
 .press_386 ,
 .press_387 ,
 .press_388 ,
 .press_389 ,
 .press_390 ,
 .press_391 ,
 .press_396 ,
 .press_404 ,
 .press_410 ,
 .press_416 ,
 .press_417 ,
 .press_421 ,
 .press_422 ,
 .press_440 ,
 .press_447 ,
 .press_536 ,
 .press_539  {
	background-image: url("https://s.pstatic.net/static/www/img/2017/sp_newslogo2_1x_v170307.png");
	background-size: 338px 314px;
	background-repeat: no-repeat;
}
@media (min-height: 1px) {
	 .press_308 ,
	 .press_310 ,
	 .press_311 ,
	 .press_312 ,
	 .press_314 ,
	 .press_326 ,
	 .press_327 ,
	 .press_328 ,
	 .press_329 ,
	 .press_330 ,
	 .press_331 ,
	 .press_332 ,
	 .press_333 ,
	 .press_334 ,
	 .press_335 ,
	 .press_336 ,
	 .press_337 ,
	 .press_338 ,
	 .press_339 ,
	 .press_340 ,
	 .press_344 ,
	 .press_345 ,
	 .press_346 ,
	 .press_354 ,
	 .press_355 ,
	 .press_356 ,
	 .press_361 ,
	 .press_362 ,
	 .press_363 ,
	 .press_364 ,
	 .press_366 ,
	 .press_368 ,
	 .press_374 ,
	 .press_376 ,
	 .press_384 ,
	 .press_385 ,
	 .press_386 ,
	 .press_387 ,
	 .press_388 ,
	 .press_389 ,
	 .press_390 ,
	 .press_391 ,
	 .press_396 ,
	 .press_404 ,
	 .press_410 ,
	 .press_416 ,
	 .press_417 ,
	 .press_421 ,
	 .press_422 ,
	 .press_440 ,
	 .press_447 ,
	 .press_536 ,
	 .press_539  {
		background-image: url("https://s.pstatic.net/static/www/img/2017/sp_newslogo2_v170307.png");
	}
}
 .press_001 ,
 .press_437 ,
 .press_901 ,
 .press_902 ,
 .press_903 ,
 .press_904 ,
 .press_905 ,
 .press_906 ,
 .press_907 ,
 .press_908 ,
 .press_909 ,
 .press_910 ,
 .press_911 ,
 .press_912 ,
 .press_913 ,
 .press_914 ,
 .press_915 ,
 .press_916 ,
 .press_917 ,
 .press_920 ,
 .press_921 ,
 .press_922 ,
 .press_923 ,
 .press_924 ,
 .press_925 ,
 .press_926 ,
 .press_927 ,
 .press_928 ,
 .press_930 ,
 .press_931 ,
 .press_932 ,
 .press_933 ,
 .press_934 ,
 .press_935 ,
 .press_936 ,
 .press_937 ,
 .press_938 ,
 .press_939 ,
 .press_940 ,
 .press_941 ,
 .press_942 ,
 .press_943 ,
 .press_944 ,
 .press_945 ,
 .press_946 ,
 .press_947 ,
 .press_948 ,
 .press_949  {
	background-image: url("../img/newslogo2.png");
	background-size: 331px 285px;
	background-repeat: no-repeat;
}
@media (min-height: 1px) {
	 .press_001 ,
	 .press_437 ,	
	 .press_901 ,
	 .press_902 ,
	 .press_903 ,
	 .press_904 ,
	 .press_905 ,
	 .press_906 ,
	 .press_907 ,
	 .press_908 ,
	 .press_909 ,
	 .press_910 ,
	 .press_911 ,
	 .press_912 ,
	 .press_913 ,
	 .press_914 ,
	 .press_915 ,
	 .press_916 ,
	 .press_917 ,
	 .press_920 ,
	 .press_921 ,
	 .press_922 ,
	 .press_923 ,
	 .press_924 ,
	 .press_925 ,
	 .press_926 ,
	 .press_927 ,
	 .press_928 ,
	 .press_930 ,
	 .press_931 ,
	 .press_932 ,
	 .press_933 ,
	 .press_934 ,
	 .press_935 ,
	 .press_936 ,
	 .press_937 ,
	 .press_938 ,
	 .press_939 ,
	 .press_940 ,
	 .press_941 ,
	 .press_942 ,
	 .press_943 ,
	 .press_944 ,
	 .press_945 ,
	 .press_946 ,
	 .press_947 ,
	 .press_948 ,
	 .press_949  {
		background-image: url("../img/newslogo2.png");
	}
}

 .press_002  {
	width: 43px;
	height: 24px;
	background-position: -336px -232px;
}

 .press_003  {
	width: 55px;
	height: 24px;
	background-position: -62px -261px;
}

 .press_005  {
	width: 62px;
	height: 24px;
	background-position: -269px 0;
}

 .press_006  {
	width: 57px;
	height: 24px;
	background-position: -205px -232px;
}

 .press_008  {
	width: 77px;
	height: 24px;
	background-position: -83px -87px;
}

 .press_009  {
	width: 45px;
	height: 24px;
	background-position: -336px -174px;
}

 .press_011  {
	width: 47px;
	height: 24px;
	background-position: -336px -116px;
}

 .press_013  {
	width: 78px;
	height: 24px;
	background-position: -104px -58px;
}

 .press_014  {
	width: 76px;
	height: 24px;
	background-position: -81px -116px;
}

 .press_015  {
	width: 49px;
	height: 24px;
	background-position: -336px -29px;
}

 .press_016  {
	width: 72px;
	height: 24px;
	background-position: -192px -29px;
}

 .press_018  {
	width: 54px;
	height: 24px;
	background-position: -181px -261px;
}

 .press_020  {
	width: 72px;
	height: 24px;
	background-position: -192px 0;
}

 .press_021  {
	width: 72px;
	height: 24px;
	background-position: -170px -319px;
}

 .press_022  {
	width: 52px;
	height: 24px;
	background-position: -114px -290px;
}

 .press_023  {
	width: 67px;
	height: 24px;
	background-position: 0 -174px;
}

 .press_024  {
	width: 73px;
	height: 24px;
	background-position: -80px -145px;
}

 .press_025  {
	width: 67px;
	height: 24px;
	background-position: -192px -116px;
}

 .press_028  {
	width: 38px;
	height: 24px;
	background-position: -89px -319px;
}

 .press_029  {
	width: 61px;
	height: 24px;
	background-position: -269px -87px;
}

 .press_030  {
	width: 61px;
	height: 24px;
	background-position: -269px -116px;
}

 .press_031  {
	width: 61px;
	height: 24px;
	background-position: -269px -145px;
}

 .press_032  {
	width: 50px;
	height: 24px;
	background-position: -228px -290px;
}

 .press_038  {
	width: 75px;
	height: 24px;
	background-position: 0 -145px;
}

 .press_040  {
	width: 99px;
	height: 24px;
	background-position: 0 0;
}

 .press_042  {
	width: 64px;
	height: 24px;
	background-position: 0 -232px;
}

 .press_044  {
	width: 95px;
	height: 24px;
	background-position: 0 -29px;
}

 .press_045  {
	width: 78px;
	height: 24px;
	background-position: 0 -87px;
}

 .press_047  {
	width: 61px;
	height: 24px;
	background-position: -269px -58px;
}

 .press_050  {
	width: 76px;
	height: 24px;
	background-position: 0 -116px;
}

 .press_052  {
	width: 51px;
	height: 24px;
	background-position: -213px -174px;
}

 .press_055  {
	width: 42px;
	height: 24px;
	background-position: -336px -290px;
}

 .press_056  {
	width: 42px;
	height: 24px;
	background-position: -283px -290px;
}

 .press_057  {
	width: 38px;
	height: 24px;
	background-position: -46px -319px;
}

 .press_073  {
	width: 55px;
	height: 24px;
	background-position: -209px -203px;
}

 .press_075  {
	width: 48px;
	height: 24px;
	background-position: -336px -87px;
}

 .press_076  {
	width: 60px;
	height: 24px;
	background-position: -269px -203px;
}

 .press_079  {
	width: 44px;
	height: 24px;
	background-position: -336px -203px;
}

 .press_081  {
	width: 52px;
	height: 24px;
	background-position: 0 -290px;
}

 .press_082  {
	width: 65px;
	height: 24px;
	background-position: 0 -203px;
}

 .press_083  {
	width: 66px;
	height: 24px;
	background-position: -72px -174px;
}

 .press_087  {
	width: 83px;
	height: 24px;
	background-position: -104px 0;
}

 .press_088  {
	width: 62px;
	height: 24px;
	background-position: -269px -29px;
}

 .press_089  {
	width: 60px;
	height: 24px;
	background-position: -269px -174px;
}

 .press_092  {
	width: 64px;
	height: 24px;
	background-position: -140px -203px;
}

 .press_108  {
	width: 57px;
	height: 24px;
	background-position: -269px -232px;
}

 .press_109  {
	width: 52px;
	height: 24px;
	background-position: -57px -290px;
}

 .press_117  {
	width: 54px;
	height: 24px;
	background-position: -122px -261px;
}

 .press_120  {
	width: 41px;
	height: 24px;
	background-position: 0 -319px;
}

 .press_122  {
	width: 63px;
	height: 24px;
	background-position: -137px -232px;
}

 .press_123  {
	width: 67px;
	height: 24px;
	background-position: -192px -145px;
}

 .press_135  {
	width: 49px;
	height: 24px;
	background-position: -336px -58px;
}

 .press_138  {
	width: 79px;
	height: 24px;
	background-position: -104px -29px;
}

 .press_139  {
	width: 91px;
	height: 24px;
	background-position: 0 -58px;
}

 .press_140  {
	width: 46px;
	height: 24px;
	background-position: -336px -145px;
}

 .press_143  {
	width: 42px;
	height: 24px;
	background-position: -336px -261px;
}

 .press_144  {
	width: 57px;
	height: 24px;
	background-position: 0 -261px;
}

 .press_213  {
	width: 68px;
	height: 24px;
	background-position: -192px -87px;
}

 .press_214  {
	width: 33px;
	height: 24px;
	background-position: -132px -319px;
}

 .press_215  {
	width: 65px;
	height: 24px;
	background-position: -143px -174px;
}

 .press_241  {
	width: 54px;
	height: 24px;
	background-position: -240px -261px;
}

 .press_243  {
	width: 68px;
	height: 24px;
	background-position: -192px -58px;
}

 .press_277  {
	width: 65px;
	height: 24px;
	background-position: -70px -203px;
}

 .press_293  {
	width: 52px;
	height: 24px;
	background-position: -171px -290px;
}

 .press_296  {
	width: 63px;
	height: 24px;
	background-position: -69px -232px;
}

 .press_308  {
	width: 39px;
	height: 24px;
	background-position: -156px -87px;
}

 .press_310  {
	width: 50px;
	height: 24px;
	background-position: -172px -261px;
}

 .press_311  {
	width: 67px;
	height: 24px;
	background-position: -202px -58px;
}

 .press_312  {
	width: 26px;
	height: 24px;
	background-position: -200px -290px;
}

 .press_314  {
	width: 58px;
	height: 24px;
	background-position: -276px -145px;
}

 .press_326  {
	width: 73px;
	height: 24px;
	background-position: 0 -87px;
}

 .press_327  {
	width: 57px;
	height: 24px;
	background-position: -276px -174px;
}

 .press_328  {
	width: 60px;
	height: 24px;
	background-position: -276px -29px;
}

 .press_329  {
	width: 63px;
	height: 24px;
	background-position: -205px -232px;
}

 .press_330  {
	width: 108px;
	height: 24px;
	background-position: 0 0;
}

 .press_331  {
	width: 67px;
	height: 24px;
	background-position: -202px -29px;
}

 .press_332  {
	width: 63px;
	height: 24px;
	background-position: -137px -232px;
}

 .press_333  {
	width: 63px;
	height: 24px;
	background-position: -69px -232px;
}

 .press_334  {
	width: 66px;
	height: 24px;
	background-position: -202px -116px;
}

 .press_335  {
	width: 66px;
	height: 24px;
	background-position: -202px -145px;
}

 .press_336  {
	width: 59px;
	height: 24px;
	background-position: -276px -116px;
}

 .press_337  {
	width: 48px;
	height: 24px;
	background-position: 0 -290px;
}

 .press_338  {
	width: 50px;
	height: 24px;
	background-position: -227px -261px;
}

 .press_339  {
	width: 52px;
	height: 24px;
	background-position: -59px -261px;
}

 .press_340  {
	width: 50px;
	height: 24px;
	background-position: -282px -261px;
}

 .press_344  {
	width: 54px;
	height: 24px;
	background-position: -212px -174px;
}

 .press_345  {
	width: 56px;
	height: 24px;
	background-position: -276px -232px;
}

 .press_346  {
	width: 65px;
	height: 24px;
	background-position: -142px -174px;
}

 .press_354  {
	width: 45px;
	height: 24px;
	background-position: -151px -145px;
}

 .press_355  {
	width: 73px;
	height: 24px;
	background-position: -78px -87px;
}

 .press_356  {
	width: 79px;
	height: 24px;
	background-position: -113px -29px;
}

 .press_361  {
	width: 84px;
	height: 24px;
	background-position: 0 -58px;
}

 .press_362  {
	width: 48px;
	height: 24px;
	background-position: -53px -290px;
}

 .press_363  {
	width: 47px;
	height: 24px;
	background-position: -106px -290px;
}

 .press_364  {
	width: 66px;
	height: 24px;
	background-position: -202px -87px;
}

 .press_366  {
	width: 66px;
	height: 24px;
	background-position: 0 -174px;
}

 .press_368  {
	width: 51px;
	height: 24px;
	background-position: -116px -261px;
}

 .press_374  {
	width: 37px;
	height: 24px;
	background-position: -158px -290px;
}

 .press_376  {
	width: 65px;
	height: 24px;
	background-position: -70px -203px;
}

 .press_384  {
	width: 84px;
	height: 24px;
	background-position: -113px 0;
}

 .press_385  {
	width: 43px;
	height: 24px;
	background-position: -154px -116px;
}

 .press_386  {
	width: 57px;
	height: 24px;
	background-position: -276px -203px;
}

 .press_387  {
	width: 62px;
	height: 24px;
	background-position: -276px 0;
}

 .press_388  {
	width: 72px;
	height: 24px;
	background-position: 0 -116px;
}

 .press_389  {
	width: 70px;
	height: 24px;
	background-position: -76px -145px;
}

 .press_390  {
	width: 64px;
	height: 24px;
	background-position: 0 -232px;
}

 .press_391  {
	width: 71px;
	height: 24px;
	background-position: 0 -145px;
}

 .press_396  {
	width: 62px;
	height: 24px;
	background-position: -209px -203px;
}

 .press_404  {
	width: 69px;
	height: 24px;
	background-position: -202px 0;
}

 .press_410  {
	width: 64px;
	height: 24px;
	background-position: -140px -203px;
}

 .press_416  {
	width: 85px;
	height: 24px;
	background-position: 0 -29px;
}

 .press_417  {
	width: 60px;
	height: 24px;
	background-position: -276px -87px;
}

 .press_421  {
	width: 54px;
	height: 24px;
	background-position: 0 -261px;
}

 .press_422  {
	width: 65px;
	height: 24px;
	background-position: 0 -203px;
}

 .press_440  {
	width: 74px;
	height: 24px;
	background-position: -113px -58px;
}

 .press_447  {
	width: 66px;
	height: 24px;
	background-position: -71px -174px;
}

 .press_536  {
	width: 60px;
	height: 24px;
	background-position: -276px -58px;
}

 .press_539  {
	width: 72px;
	height: 24px;
	background-position: -77px -116px;
}

 .press_901  {
	width: 71px;
	height: 24px;
	background-position: -77px -145px;
}

 .press_902  {
	width: 46px;
	height: 24px;
	background-position: -51px -261px;
}

 .press_903  {
	width: 33px;
	height: 24px;
	background-position: -161px -87px;
}

 .press_904  {
	width: 31px;
	height: 24px;
	background-position: -153px -145px;
}

 .press_905  {
	width: 65px;
	height: 24px;
	background-position: -202px -145px;
}

 .press_906  {
	width: 32px;
	height: 24px;
	background-position: -157px -116px;
}

 .press_907  {
	width: 51px;
	height: 24px;
	background-position: -276px -58px;
}

 .press_908  {
	width: 72px;
	height: 24px;
	background-position: 0 -145px;
}

 .press_909  {
	width: 46px;
	height: 24px;
	background-position: 0 -261px;
}

 .press_910  {
	width: 65px;
	height: 24px;
	background-position: -202px -116px;
}

 .press_911  {
	width: 64px;
	height: 24px;
	background-position: -138px -174px;
}

 .press_912  {
	width: 90px;
	height: 24px;
	background-position: -107px 0;
}

 .press_913  {
	width: 56px;
	height: 24px;
	background-position: -125px -232px;
}

 .press_914  {
	width: 69px;
	height: 24px;
	background-position: -202px 0;
}

 .press_915  {
	width: 74px;
	height: 24px;
	background-position: 0 -116px;
}

 .press_916  {
	width: 102px;
	height: 24px;
	background-position: 0 0;
}

 .press_917  {
	width: 67px;
	height: 24px;
	background-position: -202px -29px;
}

 .press_920  {
	width: 65px;
	height: 24px;
	background-position: -202px -87px;
}

 .press_921  {
	width: 47px;
	height: 24px;
	background-position: -276px -203px;
}

 .press_922  {
	width: 50px;
	height: 24px;
	background-position: -276px -116px;
}

 .press_923  {
	width: 55px;
	height: 24px;
	background-position: -276px 0;
}

 .press_924  {
	width: 47px;
	height: 24px;
	background-position: -276px -232px;
}

 .press_925  {
	width: 63px;
	height: 24px;
	background-position: -68px -203px;
}

 .press_926  {
	width: 52px;
	height: 24px;
	background-position: -276px -29px;
}

 .press_927  {
	width: 63px;
	height: 24px;
	background-position: 0 -203px;
}

 .press_928  {
	width: 48px;
	height: 24px;
	background-position: -276px -174px;
}

 .press_930  {
	width: 48px;
	height: 24px;
	background-position: -276px -145px;
}

 .press_931  {
	width: 58px;
	height: 24px;
	background-position: 0 -232px;
}

 .press_932  {
	width: 98px;
	height: 24px;
	background-position: 0 -29px;
}

 .press_933  {
	width: 30px;
	height: 24px;
	background-position: -153px -261px;
}

 .press_934  {
	width: 57px;
	height: 24px;
	background-position: -63px -232px;
}

 .press_935  {
	width: 61px;
	height: 24px;
	background-position: -136px -203px;
}

 .press_936  {
	width: 50px;
	height: 24px;
	background-position: -276px -87px;
}

 .press_937  {
	width: 63px;
	height: 24px;
	background-position: -207px -174px;
}

 .press_938  {
	width: 66px;
	height: 24px;
	background-position: -202px -58px;
}

 .press_939  {
	width: 55px;
	height: 24px;
	background-position: -186px -232px;
}

 .press_940  {
	width: 73px;
	height: 24px;
	background-position: -79px -116px;
}

 .press_941  {
	width: 59px;
	height: 24px;
	background-position: -202px -203px;
}

 .press_942  {
	width: 75px;
	height: 24px;
	background-position: -81px -87px;
}

 .press_943  {
	width: 88px;
	height: 24px;
	background-position: -107px -29px;
}

 .press_944  {
	width: 76px;
	height: 24px;
	background-position: 0 -87px;
}

 .press_945  {
	width: 64px;
	height: 24px;
	background-position: -69px -174px;
}

 .press_946  {
	width: 98px;
	height: 24px;
	background-position: 0 -58px;
}

 .press_947  {
	width: 64px;
	height: 24px;
	background-position: 0 -174px;
}

 .press_948  {
	width: 46px;
	height: 24px;
	background-position: -102px -261px;
}

 .press_949  {
	width: 82px;
	height: 24px;
	background-position: -107px -58px;
}
.press_001  {
	width: 98px;
	height: 24px;
	background-position: 0 -58px;
}

 .press_437  {
	width: 31px;
	height: 24px;
	background-position: -153px -145px;
}
/*
.area_newsstand .press_002 .api_logo,
.area_newsstand .press_003 .api_logo,
.area_newsstand .press_005 .api_logo,
.area_newsstand .press_006 .api_logo,
.area_newsstand .press_008 .api_logo,
.area_newsstand .press_009 .api_logo,
.area_newsstand .press_011 .api_logo,
.area_newsstand .press_013 .api_logo,
.area_newsstand .press_014 .api_logo,
.area_newsstand .press_015 .api_logo,
.area_newsstand .press_016 .api_logo,
.area_newsstand .press_018 .api_logo,
.area_newsstand .press_020 .api_logo,
.area_newsstand .press_021 .api_logo,
.area_newsstand .press_022 .api_logo,
.area_newsstand .press_023 .api_logo,
.area_newsstand .press_024 .api_logo,
.area_newsstand .press_025 .api_logo,
.area_newsstand .press_028 .api_logo,
.area_newsstand .press_029 .api_logo,
.area_newsstand .press_030 .api_logo,
.area_newsstand .press_031 .api_logo,
.area_newsstand .press_032 .api_logo,
.area_newsstand .press_038 .api_logo,
.area_newsstand .press_040 .api_logo,
.area_newsstand .press_042 .api_logo,
.area_newsstand .press_044 .api_logo,
.area_newsstand .press_045 .api_logo,
.area_newsstand .press_047 .api_logo,
.area_newsstand .press_050 .api_logo,
.area_newsstand .press_052 .api_logo,
.area_newsstand .press_055 .api_logo,
.area_newsstand .press_056 .api_logo,
.area_newsstand .press_057 .api_logo,
.area_newsstand .press_073 .api_logo,
.area_newsstand .press_075 .api_logo,
.area_newsstand .press_076 .api_logo,
.area_newsstand .press_079 .api_logo,
.area_newsstand .press_081 .api_logo,
.area_newsstand .press_082 .api_logo,
.area_newsstand .press_083 .api_logo,
.area_newsstand .press_087 .api_logo,
.area_newsstand .press_088 .api_logo,
.area_newsstand .press_089 .api_logo,
.area_newsstand .press_092 .api_logo,
.area_newsstand .press_108 .api_logo,
.area_newsstand .press_109 .api_logo,
.area_newsstand .press_117 .api_logo,
.area_newsstand .press_120 .api_logo,
.area_newsstand .press_122 .api_logo,
.area_newsstand .press_123 .api_logo,
.area_newsstand .press_135 .api_logo,
.area_newsstand .press_138 .api_logo,
.area_newsstand .press_139 .api_logo,
.area_newsstand .press_140 .api_logo,
.area_newsstand .press_143 .api_logo,
.area_newsstand .press_144 .api_logo,
.area_newsstand .press_213 .api_logo,
.area_newsstand .press_214 .api_logo,
.area_newsstand .press_215 .api_logo,
.area_newsstand .press_241 .api_logo,
.area_newsstand .press_243 .api_logo,
.area_newsstand .press_277 .api_logo,
.area_newsstand .press_293 .api_logo,
.area_newsstand .press_296 .api_logo {
	background-image: url("https://s.pstatic.net/static/www/img/2017/sp_newslogo_1x_v170327.png");
	background-size: 385px 343px;
	background-repeat: no-repeat;
}
@media (min-height: 1px) {
	.area_newsstand .press_002 .api_logo,
	.area_newsstand .press_003 .api_logo,
	.area_newsstand .press_005 .api_logo,
	.area_newsstand .press_006 .api_logo,
	.area_newsstand .press_008 .api_logo,
	.area_newsstand .press_009 .api_logo,
	.area_newsstand .press_011 .api_logo,
	.area_newsstand .press_013 .api_logo,
	.area_newsstand .press_014 .api_logo,
	.area_newsstand .press_015 .api_logo,
	.area_newsstand .press_016 .api_logo,
	.area_newsstand .press_018 .api_logo,
	.area_newsstand .press_020 .api_logo,
	.area_newsstand .press_021 .api_logo,
	.area_newsstand .press_022 .api_logo,
	.area_newsstand .press_023 .api_logo,
	.area_newsstand .press_024 .api_logo,
	.area_newsstand .press_025 .api_logo,
	.area_newsstand .press_028 .api_logo,
	.area_newsstand .press_029 .api_logo,
	.area_newsstand .press_030 .api_logo,
	.area_newsstand .press_031 .api_logo,
	.area_newsstand .press_032 .api_logo,
	.area_newsstand .press_038 .api_logo,
	.area_newsstand .press_040 .api_logo,
	.area_newsstand .press_042 .api_logo,
	.area_newsstand .press_044 .api_logo,
	.area_newsstand .press_045 .api_logo,
	.area_newsstand .press_047 .api_logo,
	.area_newsstand .press_050 .api_logo,
	.area_newsstand .press_052 .api_logo,
	.area_newsstand .press_055 .api_logo,
	.area_newsstand .press_056 .api_logo,
	.area_newsstand .press_057 .api_logo,
	.area_newsstand .press_073 .api_logo,
	.area_newsstand .press_075 .api_logo,
	.area_newsstand .press_076 .api_logo,
	.area_newsstand .press_079 .api_logo,
	.area_newsstand .press_081 .api_logo,
	.area_newsstand .press_082 .api_logo,
	.area_newsstand .press_083 .api_logo,
	.area_newsstand .press_087 .api_logo,
	.area_newsstand .press_088 .api_logo,
	.area_newsstand .press_089 .api_logo,
	.area_newsstand .press_092 .api_logo,
	.area_newsstand .press_108 .api_logo,
	.area_newsstand .press_109 .api_logo,
	.area_newsstand .press_117 .api_logo,
	.area_newsstand .press_120 .api_logo,
	.area_newsstand .press_122 .api_logo,
	.area_newsstand .press_123 .api_logo,
	.area_newsstand .press_135 .api_logo,
	.area_newsstand .press_138 .api_logo,
	.area_newsstand .press_139 .api_logo,
	.area_newsstand .press_140 .api_logo,
	.area_newsstand .press_143 .api_logo,
	.area_newsstand .press_144 .api_logo,
	.area_newsstand .press_213 .api_logo,
	.area_newsstand .press_214 .api_logo,
	.area_newsstand .press_215 .api_logo,
	.area_newsstand .press_241 .api_logo,
	.area_newsstand .press_243 .api_logo,
	.area_newsstand .press_277 .api_logo,
	.area_newsstand .press_293 .api_logo,
	.area_newsstand .press_296 .api_logo {
		background-image: url("https://s.pstatic.net/static/www/img/2017/sp_newslogo_v170327.png");
	}
}

.area_newsstand .press_308 .api_logo,
.area_newsstand .press_310 .api_logo,
.area_newsstand .press_311 .api_logo,
.area_newsstand .press_312 .api_logo,
.area_newsstand .press_314 .api_logo,
.area_newsstand .press_326 .api_logo,
.area_newsstand .press_327 .api_logo,
.area_newsstand .press_328 .api_logo,
.area_newsstand .press_329 .api_logo,
.area_newsstand .press_330 .api_logo,
.area_newsstand .press_331 .api_logo,
.area_newsstand .press_332 .api_logo,
.area_newsstand .press_333 .api_logo,
.area_newsstand .press_334 .api_logo,
.area_newsstand .press_335 .api_logo,
.area_newsstand .press_336 .api_logo,
.area_newsstand .press_337 .api_logo,
.area_newsstand .press_338 .api_logo,
.area_newsstand .press_339 .api_logo,
.area_newsstand .press_340 .api_logo,
.area_newsstand .press_344 .api_logo,
.area_newsstand .press_345 .api_logo,
.area_newsstand .press_346 .api_logo,
.area_newsstand .press_354 .api_logo,
.area_newsstand .press_355 .api_logo,
.area_newsstand .press_356 .api_logo,
.area_newsstand .press_361 .api_logo,
.area_newsstand .press_362 .api_logo,
.area_newsstand .press_363 .api_logo,
.area_newsstand .press_364 .api_logo,
.area_newsstand .press_366 .api_logo,
.area_newsstand .press_368 .api_logo,
.area_newsstand .press_374 .api_logo,
.area_newsstand .press_376 .api_logo,
.area_newsstand .press_384 .api_logo,
.area_newsstand .press_385 .api_logo,
.area_newsstand .press_386 .api_logo,
.area_newsstand .press_387 .api_logo,
.area_newsstand .press_388 .api_logo,
.area_newsstand .press_389 .api_logo,
.area_newsstand .press_390 .api_logo,
.area_newsstand .press_391 .api_logo,
.area_newsstand .press_396 .api_logo,
.area_newsstand .press_404 .api_logo,
.area_newsstand .press_410 .api_logo,
.area_newsstand .press_416 .api_logo,
.area_newsstand .press_417 .api_logo,
.area_newsstand .press_421 .api_logo,
.area_newsstand .press_422 .api_logo,
.area_newsstand .press_440 .api_logo,
.area_newsstand .press_447 .api_logo,
.area_newsstand .press_536 .api_logo,
.area_newsstand .press_539 .api_logo {
	background-image: url("https://s.pstatic.net/static/www/img/2017/sp_newslogo2_1x_v170307.png");
	background-size: 338px 314px;
	background-repeat: no-repeat;
}
@media (min-height: 1px) {
	.area_newsstand .press_308 .api_logo,
	.area_newsstand .press_310 .api_logo,
	.area_newsstand .press_311 .api_logo,
	.area_newsstand .press_312 .api_logo,
	.area_newsstand .press_314 .api_logo,
	.area_newsstand .press_326 .api_logo,
	.area_newsstand .press_327 .api_logo,
	.area_newsstand .press_328 .api_logo,
	.area_newsstand .press_329 .api_logo,
	.area_newsstand .press_330 .api_logo,
	.area_newsstand .press_331 .api_logo,
	.area_newsstand .press_332 .api_logo,
	.area_newsstand .press_333 .api_logo,
	.area_newsstand .press_334 .api_logo,
	.area_newsstand .press_335 .api_logo,
	.area_newsstand .press_336 .api_logo,
	.area_newsstand .press_337 .api_logo,
	.area_newsstand .press_338 .api_logo,
	.area_newsstand .press_339 .api_logo,
	.area_newsstand .press_340 .api_logo,
	.area_newsstand .press_344 .api_logo,
	.area_newsstand .press_345 .api_logo,
	.area_newsstand .press_346 .api_logo,
	.area_newsstand .press_354 .api_logo,
	.area_newsstand .press_355 .api_logo,
	.area_newsstand .press_356 .api_logo,
	.area_newsstand .press_361 .api_logo,
	.area_newsstand .press_362 .api_logo,
	.area_newsstand .press_363 .api_logo,
	.area_newsstand .press_364 .api_logo,
	.area_newsstand .press_366 .api_logo,
	.area_newsstand .press_368 .api_logo,
	.area_newsstand .press_374 .api_logo,
	.area_newsstand .press_376 .api_logo,
	.area_newsstand .press_384 .api_logo,
	.area_newsstand .press_385 .api_logo,
	.area_newsstand .press_386 .api_logo,
	.area_newsstand .press_387 .api_logo,
	.area_newsstand .press_388 .api_logo,
	.area_newsstand .press_389 .api_logo,
	.area_newsstand .press_390 .api_logo,
	.area_newsstand .press_391 .api_logo,
	.area_newsstand .press_396 .api_logo,
	.area_newsstand .press_404 .api_logo,
	.area_newsstand .press_410 .api_logo,
	.area_newsstand .press_416 .api_logo,
	.area_newsstand .press_417 .api_logo,
	.area_newsstand .press_421 .api_logo,
	.area_newsstand .press_422 .api_logo,
	.area_newsstand .press_440 .api_logo,
	.area_newsstand .press_447 .api_logo,
	.area_newsstand .press_536 .api_logo,
	.area_newsstand .press_539 .api_logo {
		background-image: url("https://s.pstatic.net/static/www/img/2017/sp_newslogo2_v170307.png");
	}
}

.area_newsstand .press_901 .api_logo,
.area_newsstand .press_902 .api_logo,
.area_newsstand .press_903 .api_logo,
.area_newsstand .press_904 .api_logo,
.area_newsstand .press_905 .api_logo,
.area_newsstand .press_906 .api_logo,
.area_newsstand .press_907 .api_logo,
.area_newsstand .press_908 .api_logo,
.area_newsstand .press_909 .api_logo,
.area_newsstand .press_910 .api_logo,
.area_newsstand .press_911 .api_logo,
.area_newsstand .press_912 .api_logo,
.area_newsstand .press_913 .api_logo,
.area_newsstand .press_914 .api_logo,
.area_newsstand .press_915 .api_logo,
.area_newsstand .press_916 .api_logo,
.area_newsstand .press_917 .api_logo,
.area_newsstand .press_920 .api_logo,
.area_newsstand .press_921 .api_logo,
.area_newsstand .press_922 .api_logo,
.area_newsstand .press_923 .api_logo,
.area_newsstand .press_924 .api_logo,
.area_newsstand .press_925 .api_logo,
.area_newsstand .press_926 .api_logo,
.area_newsstand .press_927 .api_logo,
.area_newsstand .press_928 .api_logo,
.area_newsstand .press_930 .api_logo,
.area_newsstand .press_931 .api_logo,
.area_newsstand .press_932 .api_logo,
.area_newsstand .press_933 .api_logo,
.area_newsstand .press_934 .api_logo,
.area_newsstand .press_935 .api_logo,
.area_newsstand .press_936 .api_logo,
.area_newsstand .press_937 .api_logo,
.area_newsstand .press_938 .api_logo,
.area_newsstand .press_939 .api_logo,
.area_newsstand .press_940 .api_logo,
.area_newsstand .press_941 .api_logo,
.area_newsstand .press_942 .api_logo,
.area_newsstand .press_943 .api_logo,
.area_newsstand .press_944 .api_logo,
.area_newsstand .press_945 .api_logo,
.area_newsstand .press_946 .api_logo,
.area_newsstand .press_947 .api_logo,
.area_newsstand .press_948 .api_logo,
.area_newsstand .press_949 .api_logo {
	background-image: url("https://s.pstatic.net/static/www/img/2017/sp_newslogo3_1x_v170307.png");
	background-size: 331px 285px;
	background-repeat: no-repeat;
}
@media (min-height: 1px) {
	.area_newsstand .press_901 .api_logo,
	.area_newsstand .press_902 .api_logo,
	.area_newsstand .press_903 .api_logo,
	.area_newsstand .press_904 .api_logo,
	.area_newsstand .press_905 .api_logo,
	.area_newsstand .press_906 .api_logo,
	.area_newsstand .press_907 .api_logo,
	.area_newsstand .press_908 .api_logo,
	.area_newsstand .press_909 .api_logo,
	.area_newsstand .press_910 .api_logo,
	.area_newsstand .press_911 .api_logo,
	.area_newsstand .press_912 .api_logo,
	.area_newsstand .press_913 .api_logo,
	.area_newsstand .press_914 .api_logo,
	.area_newsstand .press_915 .api_logo,
	.area_newsstand .press_916 .api_logo,
	.area_newsstand .press_917 .api_logo,
	.area_newsstand .press_920 .api_logo,
	.area_newsstand .press_921 .api_logo,
	.area_newsstand .press_922 .api_logo,
	.area_newsstand .press_923 .api_logo,
	.area_newsstand .press_924 .api_logo,
	.area_newsstand .press_925 .api_logo,
	.area_newsstand .press_926 .api_logo,
	.area_newsstand .press_927 .api_logo,
	.area_newsstand .press_928 .api_logo,
	.area_newsstand .press_930 .api_logo,
	.area_newsstand .press_931 .api_logo,
	.area_newsstand .press_932 .api_logo,
	.area_newsstand .press_933 .api_logo,
	.area_newsstand .press_934 .api_logo,
	.area_newsstand .press_935 .api_logo,
	.area_newsstand .press_936 .api_logo,
	.area_newsstand .press_937 .api_logo,
	.area_newsstand .press_938 .api_logo,
	.area_newsstand .press_939 .api_logo,
	.area_newsstand .press_940 .api_logo,
	.area_newsstand .press_941 .api_logo,
	.area_newsstand .press_942 .api_logo,
	.area_newsstand .press_943 .api_logo,
	.area_newsstand .press_944 .api_logo,
	.area_newsstand .press_945 .api_logo,
	.area_newsstand .press_946 .api_logo,
	.area_newsstand .press_947 .api_logo,
	.area_newsstand .press_948 .api_logo,
	.area_newsstand .press_949 .api_logo {
		background-image: url("https://s.pstatic.net/static/www/img/2017/sp_newslogo3_v170307.png");
	}
}

.area_newsstand .press_002 .api_logo {
	width: 43px;
	height: 24px;
	background-position: -336px -232px;
}

.area_newsstand .press_003 .api_logo {
	width: 55px;
	height: 24px;
	background-position: -62px -261px;
}

.area_newsstand .press_005 .api_logo {
	width: 62px;
	height: 24px;
	background-position: -269px 0;
}

.area_newsstand .press_006 .api_logo {
	width: 57px;
	height: 24px;
	background-position: -205px -232px;
}

.area_newsstand .press_008 .api_logo {
	width: 77px;
	height: 24px;
	background-position: -83px -87px;
}

.area_newsstand .press_009 .api_logo {
	width: 45px;
	height: 24px;
	background-position: -336px -174px;
}

.area_newsstand .press_011 .api_logo {
	width: 47px;
	height: 24px;
	background-position: -336px -116px;
}

.area_newsstand .press_013 .api_logo {
	width: 78px;
	height: 24px;
	background-position: -104px -58px;
}

.area_newsstand .press_014 .api_logo {
	width: 76px;
	height: 24px;
	background-position: -81px -116px;
}

.area_newsstand .press_015 .api_logo {
	width: 49px;
	height: 24px;
	background-position: -336px -29px;
}

.area_newsstand .press_016 .api_logo {
	width: 72px;
	height: 24px;
	background-position: -192px -29px;
}

.area_newsstand .press_018 .api_logo {
	width: 54px;
	height: 24px;
	background-position: -181px -261px;
}

.area_newsstand .press_020 .api_logo {
	width: 72px;
	height: 24px;
	background-position: -192px 0;
}

.area_newsstand .press_021 .api_logo {
	width: 72px;
	height: 24px;
	background-position: -170px -319px;
}

.area_newsstand .press_022 .api_logo {
	width: 52px;
	height: 24px;
	background-position: -114px -290px;
}

.area_newsstand .press_023 .api_logo {
	width: 67px;
	height: 24px;
	background-position: 0 -174px;
}

.area_newsstand .press_024 .api_logo {
	width: 73px;
	height: 24px;
	background-position: -80px -145px;
}

.area_newsstand .press_025 .api_logo {
	width: 67px;
	height: 24px;
	background-position: -192px -116px;
}

.area_newsstand .press_028 .api_logo {
	width: 38px;
	height: 24px;
	background-position: -89px -319px;
}

.area_newsstand .press_029 .api_logo {
	width: 61px;
	height: 24px;
	background-position: -269px -87px;
}

.area_newsstand .press_030 .api_logo {
	width: 61px;
	height: 24px;
	background-position: -269px -116px;
}

.area_newsstand .press_031 .api_logo {
	width: 61px;
	height: 24px;
	background-position: -269px -145px;
}

.area_newsstand .press_032 .api_logo {
	width: 50px;
	height: 24px;
	background-position: -228px -290px;
}

.area_newsstand .press_038 .api_logo {
	width: 75px;
	height: 24px;
	background-position: 0 -145px;
}

.area_newsstand .press_040 .api_logo {
	width: 99px;
	height: 24px;
	background-position: 0 0;
}

.area_newsstand .press_042 .api_logo {
	width: 64px;
	height: 24px;
	background-position: 0 -232px;
}

.area_newsstand .press_044 .api_logo {
	width: 95px;
	height: 24px;
	background-position: 0 -29px;
}

.area_newsstand .press_045 .api_logo {
	width: 78px;
	height: 24px;
	background-position: 0 -87px;
}

.area_newsstand .press_047 .api_logo {
	width: 61px;
	height: 24px;
	background-position: -269px -58px;
}

.area_newsstand .press_050 .api_logo {
	width: 76px;
	height: 24px;
	background-position: 0 -116px;
}

.area_newsstand .press_052 .api_logo {
	width: 51px;
	height: 24px;
	background-position: -213px -174px;
}

.area_newsstand .press_055 .api_logo {
	width: 42px;
	height: 24px;
	background-position: -336px -290px;
}

.area_newsstand .press_056 .api_logo {
	width: 42px;
	height: 24px;
	background-position: -283px -290px;
}

.area_newsstand .press_057 .api_logo {
	width: 38px;
	height: 24px;
	background-position: -46px -319px;
}

.area_newsstand .press_073 .api_logo {
	width: 55px;
	height: 24px;
	background-position: -209px -203px;
}

.area_newsstand .press_075 .api_logo {
	width: 48px;
	height: 24px;
	background-position: -336px -87px;
}

.area_newsstand .press_076 .api_logo {
	width: 60px;
	height: 24px;
	background-position: -269px -203px;
}

.area_newsstand .press_079 .api_logo {
	width: 44px;
	height: 24px;
	background-position: -336px -203px;
}

.area_newsstand .press_081 .api_logo {
	width: 52px;
	height: 24px;
	background-position: 0 -290px;
}

.area_newsstand .press_082 .api_logo {
	width: 65px;
	height: 24px;
	background-position: 0 -203px;
}

.area_newsstand .press_083 .api_logo {
	width: 66px;
	height: 24px;
	background-position: -72px -174px;
}

.area_newsstand .press_087 .api_logo {
	width: 83px;
	height: 24px;
	background-position: -104px 0;
}

.area_newsstand .press_088 .api_logo {
	width: 62px;
	height: 24px;
	background-position: -269px -29px;
}

.area_newsstand .press_089 .api_logo {
	width: 60px;
	height: 24px;
	background-position: -269px -174px;
}

.area_newsstand .press_092 .api_logo {
	width: 64px;
	height: 24px;
	background-position: -140px -203px;
}

.area_newsstand .press_108 .api_logo {
	width: 57px;
	height: 24px;
	background-position: -269px -232px;
}

.area_newsstand .press_109 .api_logo {
	width: 52px;
	height: 24px;
	background-position: -57px -290px;
}

.area_newsstand .press_117 .api_logo {
	width: 54px;
	height: 24px;
	background-position: -122px -261px;
}

.area_newsstand .press_120 .api_logo {
	width: 41px;
	height: 24px;
	background-position: 0 -319px;
}

.area_newsstand .press_122 .api_logo {
	width: 45px;
	height: 24px;
	background-position: -137px -232px;
}

.area_newsstand .press_123 .api_logo {
	width: 67px;
	height: 24px;
	background-position: -192px -145px;
}

.area_newsstand .press_135 .api_logo {
	width: 49px;
	height: 24px;
	background-position: -336px -58px;
}

.area_newsstand .press_138 .api_logo {
	width: 79px;
	height: 24px;
	background-position: -104px -29px;
}

.area_newsstand .press_139 .api_logo {
	width: 91px;
	height: 24px;
	background-position: 0 -58px;
}

.area_newsstand .press_140 .api_logo {
	width: 46px;
	height: 24px;
	background-position: -336px -145px;
}

.area_newsstand .press_143 .api_logo {
	width: 42px;
	height: 24px;
	background-position: -336px -261px;
}

.area_newsstand .press_144 .api_logo {
	width: 57px;
	height: 24px;
	background-position: 0 -261px;
}

.area_newsstand .press_213 .api_logo {
	width: 68px;
	height: 24px;
	background-position: -192px -87px;
}

.area_newsstand .press_214 .api_logo {
	width: 33px;
	height: 24px;
	background-position: -132px -319px;
}

.area_newsstand .press_215 .api_logo {
	width: 65px;
	height: 24px;
	background-position: -143px -174px;
}

.area_newsstand .press_241 .api_logo {
	width: 54px;
	height: 24px;
	background-position: -240px -261px;
}

.area_newsstand .press_243 .api_logo {
	width: 68px;
	height: 24px;
	background-position: -192px -58px;
}

.area_newsstand .press_277 .api_logo {
	width: 65px;
	height: 24px;
	background-position: -70px -203px;
}

.area_newsstand .press_293 .api_logo {
	width: 52px;
	height: 24px;
	background-position: -171px -290px;
}

.area_newsstand .press_296 .api_logo {
	width: 63px;
	height: 24px;
	background-position: -69px -232px;
}

.area_newsstand .press_308 .api_logo {
	width: 39px;
	height: 24px;
	background-position: -156px -87px;
}

.area_newsstand .press_310 .api_logo {
	width: 50px;
	height: 24px;
	background-position: -172px -261px;
}

.area_newsstand .press_311 .api_logo {
	width: 67px;
	height: 24px;
	background-position: -202px -58px;
}

.area_newsstand .press_312 .api_logo {
	width: 26px;
	height: 24px;
	background-position: -200px -290px;
}

.area_newsstand .press_314 .api_logo {
	width: 58px;
	height: 24px;
	background-position: -276px -145px;
}

.area_newsstand .press_326 .api_logo {
	width: 73px;
	height: 24px;
	background-position: 0 -87px;
}

.area_newsstand .press_327 .api_logo {
	width: 57px;
	height: 24px;
	background-position: -276px -174px;
}

.area_newsstand .press_328 .api_logo {
	width: 60px;
	height: 24px;
	background-position: -276px -29px;
}

.area_newsstand .press_329 .api_logo {
	width: 63px;
	height: 24px;
	background-position: -205px -232px;
}

.area_newsstand .press_330 .api_logo {
	width: 108px;
	height: 24px;
	background-position: 0 0;
}

.area_newsstand .press_331 .api_logo {
	width: 67px;
	height: 24px;
	background-position: -202px -29px;
}

.area_newsstand .press_332 .api_logo {
	width: 63px;
	height: 24px;
	background-position: -137px -232px;
}

.area_newsstand .press_333 .api_logo {
	width: 63px;
	height: 24px;
	background-position: -69px -232px;
}

.area_newsstand .press_334 .api_logo {
	width: 66px;
	height: 24px;
	background-position: -202px -116px;
}

.area_newsstand .press_335 .api_logo {
	width: 66px;
	height: 24px;
	background-position: -202px -145px;
}

.area_newsstand .press_336 .api_logo {
	width: 59px;
	height: 24px;
	background-position: -276px -116px;
}

.area_newsstand .press_337 .api_logo {
	width: 48px;
	height: 24px;
	background-position: 0 -290px;
}

.area_newsstand .press_338 .api_logo {
	width: 50px;
	height: 24px;
	background-position: -227px -261px;
}

.area_newsstand .press_339 .api_logo {
	width: 52px;
	height: 24px;
	background-position: -59px -261px;
}

.area_newsstand .press_340 .api_logo {
	width: 50px;
	height: 24px;
	background-position: -282px -261px;
}

.area_newsstand .press_344 .api_logo {
	width: 54px;
	height: 24px;
	background-position: -212px -174px;
}

.area_newsstand .press_345 .api_logo {
	width: 56px;
	height: 24px;
	background-position: -276px -232px;
}

.area_newsstand .press_346 .api_logo {
	width: 65px;
	height: 24px;
	background-position: -142px -174px;
}

.area_newsstand .press_354 .api_logo {
	width: 45px;
	height: 24px;
	background-position: -151px -145px;
}

.area_newsstand .press_355 .api_logo {
	width: 73px;
	height: 24px;
	background-position: -78px -87px;
}

.area_newsstand .press_356 .api_logo {
	width: 79px;
	height: 24px;
	background-position: -113px -29px;
}

.area_newsstand .press_361 .api_logo {
	width: 84px;
	height: 24px;
	background-position: 0 -58px;
}

.area_newsstand .press_362 .api_logo {
	width: 48px;
	height: 24px;
	background-position: -53px -290px;
}

.area_newsstand .press_363 .api_logo {
	width: 47px;
	height: 24px;
	background-position: -106px -290px;
}

.area_newsstand .press_364 .api_logo {
	width: 66px;
	height: 24px;
	background-position: -202px -87px;
}

.area_newsstand .press_366 .api_logo {
	width: 66px;
	height: 24px;
	background-position: 0 -174px;
}

.area_newsstand .press_368 .api_logo {
	width: 51px;
	height: 24px;
	background-position: -116px -261px;
}

.area_newsstand .press_374 .api_logo {
	width: 37px;
	height: 24px;
	background-position: -158px -290px;
}

.area_newsstand .press_376 .api_logo {
	width: 65px;
	height: 24px;
	background-position: -70px -203px;
}

.area_newsstand .press_384 .api_logo {
	width: 84px;
	height: 24px;
	background-position: -113px 0;
}

.area_newsstand .press_385 .api_logo {
	width: 43px;
	height: 24px;
	background-position: -154px -116px;
}

.area_newsstand .press_386 .api_logo {
	width: 57px;
	height: 24px;
	background-position: -276px -203px;
}

.area_newsstand .press_387 .api_logo {
	width: 62px;
	height: 24px;
	background-position: -276px 0;
}

.area_newsstand .press_388 .api_logo {
	width: 72px;
	height: 24px;
	background-position: 0 -116px;
}

.area_newsstand .press_389 .api_logo {
	width: 70px;
	height: 24px;
	background-position: -76px -145px;
}

.area_newsstand .press_390 .api_logo {
	width: 64px;
	height: 24px;
	background-position: 0 -232px;
}

.area_newsstand .press_391 .api_logo {
	width: 71px;
	height: 24px;
	background-position: 0 -145px;
}

.area_newsstand .press_396 .api_logo {
	width: 62px;
	height: 24px;
	background-position: -209px -203px;
}

.area_newsstand .press_404 .api_logo {
	width: 69px;
	height: 24px;
	background-position: -202px 0;
}

.area_newsstand .press_410 .api_logo {
	width: 64px;
	height: 24px;
	background-position: -140px -203px;
}

.area_newsstand .press_416 .api_logo {
	width: 85px;
	height: 24px;
	background-position: 0 -29px;
}

.area_newsstand .press_417 .api_logo {
	width: 60px;
	height: 24px;
	background-position: -276px -87px;
}

.area_newsstand .press_421 .api_logo {
	width: 54px;
	height: 24px;
	background-position: 0 -261px;
}

.area_newsstand .press_422 .api_logo {
	width: 65px;
	height: 24px;
	background-position: 0 -203px;
}

.area_newsstand .press_440 .api_logo {
	width: 74px;
	height: 24px;
	background-position: -113px -58px;
}

.area_newsstand .press_447 .api_logo {
	width: 66px;
	height: 24px;
	background-position: -71px -174px;
}

.area_newsstand .press_536 .api_logo {
	width: 60px;
	height: 24px;
	background-position: -276px -58px;
}

.area_newsstand .press_539 .api_logo {
	width: 72px;
	height: 24px;
	background-position: -77px -116px;
}

.area_newsstand .press_901 .api_logo {
	width: 71px;
	height: 24px;
	background-position: -77px -145px;
}

.area_newsstand .press_902 .api_logo {
	width: 46px;
	height: 24px;
	background-position: -51px -261px;
}

.area_newsstand .press_903 .api_logo {
	width: 33px;
	height: 24px;
	background-position: -161px -87px;
}

.area_newsstand .press_904 .api_logo {
	width: 31px;
	height: 24px;
	background-position: -153px -145px;
}

.area_newsstand .press_905 .api_logo {
	width: 65px;
	height: 24px;
	background-position: -202px -145px;
}

.area_newsstand .press_906 .api_logo {
	width: 32px;
	height: 24px;
	background-position: -157px -116px;
}

.area_newsstand .press_907 .api_logo {
	width: 51px;
	height: 24px;
	background-position: -276px -58px;
}

.area_newsstand .press_908 .api_logo {
	width: 72px;
	height: 24px;
	background-position: 0 -145px;
}

.area_newsstand .press_909 .api_logo {
	width: 46px;
	height: 24px;
	background-position: 0 -261px;
}

.area_newsstand .press_910 .api_logo {
	width: 65px;
	height: 24px;
	background-position: -202px -116px;
}

.area_newsstand .press_911 .api_logo {
	width: 64px;
	height: 24px;
	background-position: -138px -174px;
}

.area_newsstand .press_912 .api_logo {
	width: 90px;
	height: 24px;
	background-position: -107px 0;
}

.area_newsstand .press_913 .api_logo {
	width: 56px;
	height: 24px;
	background-position: -125px -232px;
}

.area_newsstand .press_914 .api_logo {
	width: 69px;
	height: 24px;
	background-position: -202px 0;
}

.area_newsstand .press_915 .api_logo {
	width: 74px;
	height: 24px;
	background-position: 0 -116px;
}

.area_newsstand .press_916 .api_logo {
	width: 102px;
	height: 24px;
	background-position: 0 0;
}

.area_newsstand .press_917 .api_logo {
	width: 67px;
	height: 24px;
	background-position: -202px -29px;
}

.area_newsstand .press_920 .api_logo {
	width: 65px;
	height: 24px;
	background-position: -202px -87px;
}

.area_newsstand .press_921 .api_logo {
	width: 47px;
	height: 24px;
	background-position: -276px -203px;
}

.area_newsstand .press_922 .api_logo {
	width: 50px;
	height: 24px;
	background-position: -276px -116px;
}

.area_newsstand .press_923 .api_logo {
	width: 55px;
	height: 24px;
	background-position: -276px 0;
}

.area_newsstand .press_924 .api_logo {
	width: 47px;
	height: 24px;
	background-position: -276px -232px;
}

.area_newsstand .press_925 .api_logo {
	width: 63px;
	height: 24px;
	background-position: -68px -203px;
}

.area_newsstand .press_926 .api_logo {
	width: 52px;
	height: 24px;
	background-position: -276px -29px;
}

.area_newsstand .press_927 .api_logo {
	width: 63px;
	height: 24px;
	background-position: 0 -203px;
}

.area_newsstand .press_928 .api_logo {
	width: 48px;
	height: 24px;
	background-position: -276px -174px;
}

.area_newsstand .press_930 .api_logo {
	width: 48px;
	height: 24px;
	background-position: -276px -145px;
}

.area_newsstand .press_931 .api_logo {
	width: 58px;
	height: 24px;
	background-position: 0 -232px;
}

.area_newsstand .press_932 .api_logo {
	width: 98px;
	height: 24px;
	background-position: 0 -29px;
}

.area_newsstand .press_933 .api_logo {
	width: 30px;
	height: 24px;
	background-position: -153px -261px;
}

.area_newsstand .press_934 .api_logo {
	width: 57px;
	height: 24px;
	background-position: -63px -232px;
}

.area_newsstand .press_935 .api_logo {
	width: 61px;
	height: 24px;
	background-position: -136px -203px;
}

.area_newsstand .press_936 .api_logo {
	width: 50px;
	height: 24px;
	background-position: -276px -87px;
}

.area_newsstand .press_937 .api_logo {
	width: 63px;
	height: 24px;
	background-position: -207px -174px;
}

.area_newsstand .press_938 .api_logo {
	width: 66px;
	height: 24px;
	background-position: -202px -58px;
}

.area_newsstand .press_939 .api_logo {
	width: 55px;
	height: 24px;
	background-position: -186px -232px;
}

.area_newsstand .press_940 .api_logo {
	width: 73px;
	height: 24px;
	background-position: -79px -116px;
}

.area_newsstand .press_941 .api_logo {
	width: 59px;
	height: 24px;
	background-position: -202px -203px;
}

.area_newsstand .press_942 .api_logo {
	width: 75px;
	height: 24px;
	background-position: -81px -87px;
}

.area_newsstand .press_943 .api_logo {
	width: 88px;
	height: 24px;
	background-position: -107px -29px;
}

.area_newsstand .press_944 .api_logo {
	width: 76px;
	height: 24px;
	background-position: 0 -87px;
}

.area_newsstand .press_945 .api_logo {
	width: 64px;
	height: 24px;
	background-position: -69px -174px;
}

.area_newsstand .press_946 .api_logo {
	width: 98px;
	height: 24px;
	background-position: 0 -58px;
}

.area_newsstand .press_947 .api_logo {
	width: 64px;
	height: 24px;
	background-position: 0 -174px;
}

.area_newsstand .press_948 .api_logo {
	width: 46px;
	height: 24px;
	background-position: -102px -261px;
}

.area_newsstand .press_949 .api_logo {
	width: 82px;
	height: 24px;
	background-position: -107px -58px;
}
*/